@import "tailwindcss";
body, html {
  margin: 0px;
  padding: 0px;
    overflow-x: hidden;    
    background: linear-gradient(to bottom, #5ea4ff, rgb(130, 99, 252), #4294ff);
    height: 100%;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

.nav{
  color: white;
  position: fixed;
  z-index: 1;
  padding:0.5rem;
  height:3rem;
  width: 100vw;
  
 }
 .about{
  width: 100vw;
  background:linear-gradient(to bottom, rgb(0, 0, 0), rgb(46, 144, 255)); 
 }
.nav a{
  margin-inline: 1rem;
}
.main{
  width: 100vw;
  background-image: url(/green.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:  30%;
  width: 40%;
  padding: 1rem;
  text-align: center;
  margin-top: 4rem;
}
.mainhero{
  justify-items: center;
  padding-top: 1rem;
 
}
.form{
  width:40%
}
.searchBar{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.searchBar input{
  width: 80%;
  cursor: pointer;
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
  
}
.searchBar input:focus{
  outline: none;
  
}

.content{
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.rightContent{
  width: 55%;
  padding: 1rem;
  margin-inline-end: 1rem;
  
}
.temp{
  font-size: 3rem;
}
.leftContent{
  width: 25%;
  padding: 1rem;
}
.location{
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;

}
.location div{
  justify-items: center;
  align-content: center;
}
.mainSimptom{
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
}
.mainsunset{
  display:flex;
  margin-top: 0.5rem;
}
  .tempData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
.simptoms{
  height: 4rem;
  width: auto;
  margin: 0.2rem;
  padding-inline: 1rem;
  padding-block-start: 0.5rem;
  border-radius: 1rem;
}
.sunset{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:50%;
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.aboutme{
   padding-top: 4rem;
   text-align: center;
   opacity: 0;
   transform: translateY(20px);
   animation: fadeInUp 0.5s ease forwards;
}
.aboutme div:nth-child(1) {
  justify-items: center;
  padding-inline: 1rem;
}
.comman{
  margin: 2rem;
  padding: 1rem;
 }
.aboutImage{
  justify-items: center;
}
.connect{
  font-size: 3rem;
  margin-inline:0.3rem;
  display: flex;
  justify-content: space-around;
  color:#ffffff8d;
  margin-bottom: 2rem;
}
@media(max-width:660px ){
   .nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color:#5ea4ff;
   }
   .comman{
    margin:0px;
   }
   .temp{
    font-size: 2rem;
   }
  .hero{
    width:90%;
  }
  .form{
    width:90%;
  }
  .searchBar input{
    width:80%
  }
  .content{
    flex-direction: column;
    justify-content: start;
    margin-top: 1rem;
    padding: 1rem;
    /* overflow-y: scroll; */
  }
  .rightContent{
    width: 100%;
    
  }
  .tempImg > span > img{
    width: 6rem;
  }

  .mainSimptom{
    flex-wrap: wrap;
    width: 100%;
  }
  .simptoms{
    width: 100%;
  }
 
  .main{
    background-image: none;
    height: 100%;
  }
  .mainsunset{
    flex-wrap: wrap;
  }
  .sunset{
    width: 100%;
  }
  
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
